{{>_head}}

<div class="table-responsive-sm m-auto text-center">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Order</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each order}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.order}}</td>
                    <td>{{this.total}}</td>
                    <td>
                        <a class="btn btn-primary" href="/order/{{this_id}}">Update</a>
                        <a class="btn btn-danger" href="/order/delete/{{this_id}}">Delete</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script src="./src/js/Treatments.js"></script>
{{>_foot}}